<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='homestyle.css')}}">  

</head>
<body>

<h2>Facebook Search Bar</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
  <li><a href="https://www.y8.com/">Adele</a></li>
  <li><a href="https://www.friv.com/">Agnes</a></li>
  <li><a href="https://www.y8.com/">Billy</a></li>
  <li><a href="https://www.y8.com/">Bob</a></li>
  <li><a href="https://www.y8.com/">Calvin</a></li>
  <li><a href="https://www.y8.com/">Christina</a></li>
  <li><a href="https://www.y8.com/">Cindy</a></li>
  <li><a href="https://www.y8.com/">Loai</a></li>
</ul>

{%for facebook_friend in facebook_friends%}
<li>{{facebook_friend}}</li>
{%endfor%}

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>



</body>
</html>

